
[submodule "grounded-sam-osx"]
	path = grounded-sam-osx
	url = https://github.com/linjing7/grounded-sam-osx.git
[submodule "VISAM"]
	path = VISAM
	url = https://github.com/BingfengYan/VISAM
[submodule "recognize-anything"]
	path = recognize-anything
	url = https://github.com/xinyu1205/recognize-anything.git
[submodule "FastSAM"]
	path = FastSAM
	url = https://github.com/CASIA-IVA-Lab/FastSAM.git
